<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Baccarat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>268914A21CF1158F00C9B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>268914BE1CF1158F00C9B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>268914C91CF1158F00C9B186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
